{% extends "layout.html" %}
{% block title %}{{ ctx.meta.title }}{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
<div>
    {%- if not config.hide_title %}
        <h1>{{ ctx.meta.title }}</h1>
    {%- endif %}

    {{ post.content }}

    {% if ctx.tags %}
        <p class=tags>标签：
        {% for tag in ctx.tags|sort(case_sensitive=true) %}
            {%- if not loop.first %}、 {% endif -%}
            <a href="{{ link_to('tag', tag=tag) }}">{{ tag }}</a>
        {%- endfor %}
    {% endif %}

    {% if 'utteranc' in config.active_modules %}
        {{ get_utteranc() }}
    {% endif %}
    {% if 'mermaid' in config.active_modules %}
        {{ init_mermaid() }}
    {% endif %}
</div>
{% endblock %}
{% block footer %}{% endblock %}
