{% extends "layout.html" %}
{% block title %}{{ ctx.meta.title }}{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
<div class="container">
    {%- if not config.hide_title %}
        <h1>{{ ctx.meta.title }}</h1>
    {%- endif %}

    {{ post.content }}

    {% if ctx.tags %}
        <p class=tags>This entry was tagged
        {% for tag in ctx.tags|sort(case_sensitive=true) %}
            {%- if not loop.first and not loop.last %}, {% endif -%}
            {%- if loop.last and not loop.first %} and {% endif %}
            <a href="{{ link_to('tag', tag=tag) }}">{{ tag }}</a>
        {%- endfor %}
    {% endif %}

    {% if 'disqus' in config.active_modules %}
        {{ get_disqus() }}
    {% endif %}
</div>
{% endblock %}
{% block footer %}{% endblock %}
